#navbar {
	border: 5px solid #f00;
	box-shadow: 5px 5px 5px 5px rgba(0,0,0,.4);
	padding: 10px;
	transition: .5s;
	position: relative;
	height: 500px;
	overflow: hidden;
	.navbar-header {
		position: relative;
		z-index: 1;
	}
}

#navbar:hover {
	&::before, &::after{
      transition: .5s;
      opacity: .5;
	}
}

#navbar::before {
	content: '';
	position: absolute;
	width: 50%;
	left: 0;
	top: 0;
	bottom: 0;
	background: #00f;
	opacity: 0;
	height: 500px;
	transition: .5s;
}

#navbar::after {
	content: '';
	position: absolute;
	width: 50%;
	right: 0;
	top: 0;
	bottom: 0;
	background: #0f0;
	opacity: 0;
	height: 500px;
	transition: .3s;
}